:root {
    --main_color: #6504b5;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.logo {
    width: 132px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    background-color: #efeef1;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

a:hover {
    color: #6504b5;
}

header {
    height: 70px;
    width: 100%;
    color: var(--main_color);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: white;

}

.navigate_bar {
    height: 55px;
    background-color: #6504b5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 100px;
    gap: 80px;
}

.navigate_bar a {
    color: white;
}

.navigate_bar a:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.background_image {
    height: 330px;
    background-image: url('./assets/hp-big.png');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background_image h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: bold;
    color: white;
    z-index: 3;
}

.background_image h2 {
    position: absolute;
    color: white;
    z-index: 3;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.container {
    padding-bottom: 15px;
    background-color: #6504b5;
    position: relative;
}

.overlay {
    position: absolute;
    height: 330px;
    top: 55;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

h2 {
    color: #6504b5;
    text-align: center;
    font-size: 30px;
    margin: 30px 0;
}

.petAvailable {
    padding-inline: 100px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


.pet {
    border-radius: 10px;
    width: 280px;
    overflow: hidden;
    position: relative;
    border: solid 2px transparent;
}

.pet:hover {
    border-color: #6504b5;
    cursor: pointer;
}

.petImage img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.petName {
    text-align: center;
    background-color: white;
    padding: 20px;
    color: #6504b5;
    font-weight: 500;
    font-size: 20px;

}

.icon_container {
    background-color: rgba(240, 240, 240, 0.5);
    position: absolute;
    right: 10;
    top: 10;
    border-radius: 50%;
    padding: 10px;
}

.icon_container:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    transition: linear 0.2s;
}

.form_container {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 30px;
}

form {
    padding: 50px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

form input {
    padding: 15px;
    border: solid 0.5px black;
    border-radius: 10px;
    width: 80%;
}

form button {
    width: 80%;
    background-color: #6504b5;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

form button:hover {
    opacity: 0.8;
}

.preview {
    width: 240px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: contain;
}

.searchBar {
    width: 300px;
    padding: 15px;
    border: solid 1px black;
    border-radius: 20px;
    margin-bottom: 30px;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}